mixin center1
  .center__area
    .center__outer
      .center
        //- #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
        //-   .carousel-inner
        //-     .carousel-item.active(style="background-image: url(assets/img/slider/architect-3979490_1920.jpg)")
        //-       span
        //-     .carousel-item(style="background-image: url(assets/img/slider/narrows-bridge-287553_1920.jpg)")
        //-       span
        //-     .carousel-item(style="background-image: url(assets/img/slider/architect-3979490_1920.jpg)")
        //-       span
        //-   a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
        //-     span.carousel-control-prev-icon(aria-hidden='true')
        //-     span.sr-only Previous
        //-   a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
        //-     span.carousel-control-next-icon(aria-hidden='true')
        //-     span.sr-only Next
        #carouselExampleCaptions.carousel.slide.carousel-slide(data-ride='carousel')
          //- ol.carousel-indicators
          //-   li.active(data-target='#carouselExampleCaptions', data-slide-to='0')
          //-   li(data-target='#carouselExampleCaptions', data-slide-to='1')
          //-   li(data-target='#carouselExampleCaptions', data-slide-to='2')
          .carousel-inner
            .carousel-item.active(style="background-image: url(assets/img/slider/architect-3979490_1920.jpg)")
              .carousel-caption
                h2 Производство строительно-монтажных работ
                //- p Nulla vitae elit libero, a pharetra augue mollis interdum.
            .carousel-item(style="background-image: url(assets/img/slider/narrows-bridge-287553_1920.jpg)")
              .carousel-caption
                h2 Строительство автомобильных дорог и автомагистралей
                //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .carousel-item(style="background-image: url(assets/img/slider/safety-3442446_1920.jpg)")
              .carousel-caption
                h2 Производство земляных работ
                //- p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
          a.carousel-control-prev(href='#carouselExampleCaptions', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleCaptions', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
