mixin header
  .header__area
    .header__outer.container-fluid
      header.header.py-3.flex-column.justify-center.flex-md-row.justify-content-md-between
        .logo1
          img(src="assets/img/logo.svg", alt="")
          span РегионДорСтрой
        .header__item
          i.icon-phone-hang-up
          a(href="tel:+79242086011") +7 (924) 208-60-11

  